<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="button.css">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        
        <nav class="nav-div">
        
            <div class="logo-container">
                <a href="index.html" class="logo">Credit<br/>Management</a>
            </div>
        
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <div class="Menu-btn">
                    <img src="assets/Menu.png" style="height: 20px;">
                </div>
            </a>
               
            <ul class="main-nav" id="mymain-nav">
              
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <div class="Cross-btn" id="myCross-btn">
                   
                    <img src="assets/Cross.png" style="height: 20px;">
                </div>
                </a>
                <li>
                <a href="view" method = "GET" class="nav-links">View All Users</a>
                </li>
                <li>
                    <a href="transfers" method = "GET" class="nav-links">Transfer History</a>
                </li>
                <li>
                    <a href="aboutus" method = "GET" class="nav-links">About Us</a>
                </li>
                <li>
                    <a href="contactus" method = "GET" class="nav-links">Contact Us</a>
                </li>
            </ul>
         </nav>
        <section>
            <svg class="Rectangle_3">
                <rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="1286" height="639">
                </rect>
                
            </svg>
            <div class="mid-text">
                <h2>About Us</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                   elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip 
                    ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore 
                    eu fugiat nulla pariatur. Excepteur sint occaecat 
                    cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.</p>
            </div>
        </section>
        <footer>
            <div class="credits-text">
                <label>Designed by Akashdeep Roy Karmakar</label>
            </div>
        </footer>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("mymain-nav");
          var y = document.getElementById("myCross-btn");
          if (x.className === "main-nav") {
            x.className += " show";
            y.className +=" show"
          } else {
            x.className = "main-nav";
          }
        }
        </script>
</body>
</html>